// app global css in SCSS form

.q-layout__shadow:after {
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
}

.q-drawer--left.q-drawer--bordered {
  border-right: 1px solid $grey-2;


}

.q-field--borderless .q-field__bottom,
.q-field--borderless.q-field--dense .q-field__control,
.q-field--standard .q-field__bottom,
.q-field--standard.q-field--dense .q-field__control {
  padding-left: 12px;
  padding-right: 12px;
}

.q-field--dense .q-field__control,
.q-field--dense .q-field__marginal {
  height: 38px;
}

.q-field__control {
  border-radius: 6px;
}

// .q-field--borderless .q-field__control {
//   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
// }

// .q-field--borderless .q-field__control {
//   border: 1px solid $grey-3;
// }

.q-card,
.q-carousel,
.q-img,
.q-btn:not(.q-btn--rounded) {
  border-radius: 6px;
}

.q-card,
.q-img,
.q-carousel {
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}
