// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary : #171154;
$secondary : #00e9f5;
$accent : #9C27B0;

$dark : #1D1D1D;

$positive : #21BA45;
$negative : #C10015;
$info : #31CCEC;
$warning : #F2C037;

$grey-1:#F2F4F7;
$grey-2:#EAECF0;
$grey-3:#D0D5DD;
$grey-4:#98A2B3;
$grey-5:#667085;
$grey-6:#475467;
$grey-7:#344054;
$grey-8:#1D2939;
$grey-9:#101828;
